@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<PruebaBAC.Web.Models.ReporteVentaViewModel>
@{
    ViewData["Title"] = "Reporte Ventas";
}

<div class="card shadow">
    <div class="card-header bg-danger text-white d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Historial de Ventas</h4>
        <div>
            <a asp-action="ExportarExcel" class="btn btn-success btn-sm">📊 Descargar Excel</a>
            <a asp-action="Create" class="btn btn-light text-danger fw-bold ms-2">+ Nueva Venta</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Vendedor</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdVenta</td>
                            <td>@item.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.Vendedor</td>
                            <td class="fw-bold">$@item.Total.ToString("N2")</td>
                            <td>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>